{% extends "bootstrap/base.html" %}
{% block title %}Event Dashboard{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{{ url_for('static', filename='countUp.js') }}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
  var options = {
    useEasing: true,
    useGrouping: true,
    separator: ',',
    decimal: '.',
  };
  var demo = new CountUp('visitors', 0, {{event.num}}, 0, 2.5, options);
  if (!demo.error) {
    demo.start();
  } else {
    console.error(demo.error);
  }
  </script>
{% endblock %}

{% block navbar %}
<div class="navbar-inverse navbar" style="margin-bottom:65px">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Singularity University Summit</a>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="wrapper container-fluid">

  <!-- Chart One -->
  <div id="chart"></div>
    <div class="row">
      <div class="col-xs-12 center-block text-center">
        <!-- Weather -->
        <h2>Number of attendants: <h2>
        <h2 id="visitors">0<h2>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div></div>
      </div>
    </div>


</div>
{% endblock %}
